<div class="container">
  <div class="infoHome">
    <h6>{{"infoHome.info" | translate}}</h6>
    <h6>{{"infoHome.schema" | translate}}</h6>
  </div>
</div>

<div class="slide-container">
  <ion-slides #slideRef [options]="slideOptions">
    <ion-slide>
      <div class="slide-content">
        <img src="../../../../../assets/images/fotos/ancianoDibujol.jpg" alt="pairing" />
      </div>
    </ion-slide>
    <ion-slide class="slide">
      <div class="slide-content">
        <img src="../../../../../assets/images/fotos/mayorFeliz.jpg" alt="ancianos" />
      </div>
    </ion-slide>
    <ion-slide class="slide">
      <div class="slide-content">
        <img src="../../../../../assets/images/fotos/dibujosAncianos.jpg" alt="cuidadores" />
        
      </div>
    </ion-slide>
  </ion-slides>

  <div class="slide-nav">
    <ion-button class="prev-button" (click)="prevSlide()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button class="next-button" (click)="nextSlide()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
</div>