.container {
  padding: 16px;
}

.slide-container {
  position: relative;
  height: 100%;
}

.slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: 999;
}

.prev-button,
.next-button {
  --background: transparent;
  --color: white;
}

.prev-button {
  margin-left: 16px;
}

.next-button {
  margin-right: 16px;
}

@media (max-width: 576px) {
  .slide-nav {
    flex-direction: column;
    align-items: center;
    top: auto;
    bottom: 16px;
    transform: translateY(0);
  }

  .prev-button,
  .next-button {
    margin: 8px;
  }
}