<ion-item-sliding #sliding [disabled]="!isLowResolution()">
  <div class="card">
    <div class="head">
      <ion-avatar class="resident">
        <img *ngIf="!_resident.picture" alt="Resident silhouette" src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f464.svg">
        <img *ngIf="_resident.picture" alt="Resident picture" [src]="_resident.picture"> 
      </ion-avatar>
      <ion-label>{{_resident.nickname}}, {{_resident.first_name}}</ion-label>
    </div>
    <ion-card-content>
      <ion-button color ="tertiary" (click)="onEditClick()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button color ="danger" (click)="onDeleteClick()"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
    </ion-card-content>
  </div>
</ion-item-sliding>