<ion-content>
  <h1>{{'login.title' | translate}}</h1>
  <ion-img src="./../../../../../assets/icon/faviconCruz.jpg"></ion-img>
  <ion-row>
    <ion-col>
      <form [formGroup]="form" (ngSubmit)="onSignIn()">    
        <ion-list>
          <ion-item>
            <ion-label position="stacked">
              {{'login.email' | translate}}
            </ion-label>
            <ion-input [enterkeyhint]="'next'" autocomplete="email" type="text" formControlName="identifier"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              {{'login.password' | translate}}
            </ion-label>
            <ion-input (keyup.enter)="form.valid?onSignIn():null" [enterkeyhint]="'enter'" autocomplete="password" type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list> 
          <ion-button color="tertiary" [disabled]="!form.valid" (click)="onSignIn()">{{'login.send' | translate}}</ion-button>
      </form>    
    </ion-col>
  </ion-row>
    <ion-button (click)="register()" color="dark" >
      <small>{{'register.register' | translate }}</small>
    </ion-button>
</ion-content>