<ion-item-sliding #sliding [disabled]="!isLowResolution()">
  <div class="card">
    <div class="head">
    <ion-avatar class="carer">
      <img *ngIf="!(carer$ | async)?.picture" alt="Carer silhouette" src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f464.svg" />
      <img *ngIf="(carer$ | async)?.picture" alt="Carer picture" [src]="(carer$ | async)?.picture" />
      <label textAlign="center">{{ (carer$ | async)?.name }}</label>
    </ion-avatar><br>
    <ion-icon name="chevron-down-outline"></ion-icon>
    <ion-avatar class="resident$">
      <img *ngIf="!(resident$ | async)?.picture" alt="Resident silhouette" src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f464.svg" />
      <img *ngIf="(resident$ | async)?.picture" alt="Resident picture" [src]="(resident$ | async)?.picture" />
      {{ (resident$ | async)?.first_name }}
    </ion-avatar>
    </div>
    <ion-card-content>
      <ion-button color ="tertiary" (click)="onEditClick()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button color ="danger" (click)="onDeleteClick()"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
    </ion-card-content>
  </div>
</ion-item-sliding>