// Estilos para dispositivos de escritorio
@media only screen and (min-width: 768px) {
  .container {
      max-width: 960px;
      margin: 0 auto;
  }
  
    ion-img{
      width: 50%;
      padding: 10px;
      float: left;
    }
    ion-item{
      width: 50%;
      margin-left: 25%;
      padding: 10px;
    }
    p{
      float: right;
      width: 50%;
      padding: 5px;
    }
  }
  #yt{
    width: 10%;
  }
  
  // Estilos para dispositivos móviles
  @media only screen and (max-width: 767px) {
    .container {
      max-width: 100%;
      margin: 0;
      }
    ion-img{
      width: 100%;
      padding: 10px;
    }
  }
  
  
  