<ion-item-sliding #sliding [disabled]="!isLowResolution()">
  <div class="card">
    <div class="head">
      <ion-avatar class="carer">
        <img *ngIf="!_carer.picture" alt="Carer silhouette" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        <img *ngIf="_carer.picture" alt="Carer picture" [src]="_carer.picture" />
      </ion-avatar>
    <br><ion-label>{{_carer.name}}</ion-label><br>
    <ion-label>{{_carer.description}}</ion-label>
    </div>
    <ion-card-content>
      <ion-button color ="tertiary" (click)="onEditClick()"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button color ="danger" (click)="onDeleteClick()"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
    </ion-card-content>
  </div>
</ion-item-sliding>