<ion-content class="ion-padding">
  <input id="fileLoader" type="file" #fileLoader name="files" title="Load Files" hidden>
  <ion-img class="image" *ngIf="currentImage.value" [src]="currentImage$ | async"></ion-img>
  <ion-img class="image" *ngIf="!currentImage.value" src="https://images.emojiterra.com/google/noto-emoji/unicode-15/color/svg/1f464.svg"></ion-img>
  <ion-button *ngIf="(platform.isNative$ | async)" expand="full" id="picture-button">{{'picture-edit.title' | translate}}</ion-button>
  <ion-button color="medium" *ngIf="!(platform.isNative$ | async)" expand="full" (click)="changePic(fileLoader, 'file')">{{'picture-edit.title' | translate}}</ion-button>
  <ion-popover *ngIf="platform.isNative$ | async" style="width:100%" trigger="picture-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content class="ion-padding">
        <h2>{{'picture-edit.title' | translate}}</h2>
        <ion-list>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'library')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="images-outline"></ion-icon>
            <ion-label>{{'picture-edit.library' | translate}}</ion-label>
          </ion-item>
          <ion-item lines="inset" (click)="changePic(fileLoader, 'camera')" [button]="true" [detail]="false">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            <ion-label>{{'picture-edit.camera' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'carer-detail.name' | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'carer-detail.name-placeholder' | translate}}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{'carer-detail.description' | translate}}
      </ion-label>
      <ion-input  placeholder="{{'carer-detail.description-placeholder' | translate}}" formControlName="description"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="medium" [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('modal.edit' | translate):('modal.new' | translate)}}</ion-button>
        <ion-button color="danger" (click)="onDismiss(null)">{{'modal.cancel' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>